# 가상환경 생성 및 설정 방법
# 1. 가상환경 생성
# python -m venv venv

# 2. 가상환경 활성화
# Windows:
# venv\Scripts\activate
# Linux/Mac:
# source venv/bin/activate

# 3. pip 업그레이드
# python -m pip install --upgrade pip

# 4. 필요한 패키지 설치
# pip install -r requirements.txt

# 5. 가상환경 비활성화 (작업 완료 후)
# deactivate

# 주의사항:
# - 가상환경 폴더(venv)는 .gitignore에 추가하여 git에 업로드하지 않도록 설정
# - 프로젝트 작업 시 항상 가상환경을 활성화한 상태에서 작업
# - 새로운 패키지 설치 시 requirements.txt 업데이트 필요
#   (pip freeze > requirements.txt)

Flask==3.1.0
argon2-cffi==23.1.0
pandas==2.2.2
Pillow==10.4.0
numpy==1.26.4
opencv-python==4.10.0.84
mysql-connector-python==9.2.0
tensorflow==2.18.0
Werkzeug==3.0.1
keras==2.15.1 
